.pre-header {
  display: flex;
  justify-content: space-between;

  a {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-weight: 700;
    font-size: $main_font_size + 10;
    line-height: $line_height_base;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  &__logo,
  &__phone {
    padding-top: 30px;
  }

  @media(min-width: 768px) and (max-width: 1199px) {
    &--tablet {
      padding: 0 46px;
    }

    &__logo,
    &__phone {
      padding-top: 40px;
    }
  }
}
