$font_roboto: "Roboto Condensed";
$block_title_size: 49px;
$main_font_size: 16px;
$line_height_base: 100%;
$color: white;
$font_size_btn: 12px;
$desctop_width: 1200px;
$tablet_width: 768px;
$mibile_width: 320px;
